In [21]:
import pandas as pd
from pyarrow import parquet as pq

In [22]:
df = pq.read_table("/Users/admin/softeer_de_wiki/mission/W4/m2/shared/data/fhv_tripdata_2024_1278/fhvhv_tripdata_2024-01.parquet").to_pandas()

In [23]:
df.head(5)

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-01-01 00:21:47,2024-01-01 00:25:06,2024-01-01 00:28:08,2024-01-01 01:05:39,161,158,2.83,...,4.05,2.75,0.0,0.0,40.18,N,N,N,N,N
1,HV0003,B03404,B03404,2024-01-01 00:10:56,2024-01-01 00:11:08,2024-01-01 00:12:53,2024-01-01 00:20:05,137,79,1.57,...,0.89,2.75,0.0,0.0,6.12,N,N,N,N,N
2,HV0003,B03404,B03404,2024-01-01 00:20:04,2024-01-01 00:21:51,2024-01-01 00:23:05,2024-01-01 00:35:16,79,186,1.98,...,1.60,2.75,0.0,0.0,9.47,N,N,N,N,N
3,HV0003,B03404,B03404,2024-01-01 00:35:46,2024-01-01 00:39:59,2024-01-01 00:41:04,2024-01-01 00:56:34,234,148,1.99,...,1.52,2.75,0.0,0.0,11.35,N,N,N,N,N
4,HV0003,B03404,B03404,2024-01-01 00:48:19,2024-01-01 00:56:23,2024-01-01 00:57:21,2024-01-01 01:10:02,148,97,2.65,...,3.43,2.75,0.0,0.0,28.63,N,N,N,N,N

In [24]:
# check null values
df.isnull().sum()

# 손님 수가 0인 행 삭제

hvfhs_license_num             0
dispatching_base_num          0
originating_base_num    5218737
request_datetime              0
on_scene_datetime       5218737
pickup_datetime               0
dropoff_datetime              0
PULocationID                  0
DOLocationID                  0
trip_miles                    0
trip_time                     0
base_passenger_fare           0
tolls                         0
bcf                           0
sales_tax                     0
congestion_surcharge          0
airport_fee                   0
tips                          0
driver_pay                    0
shared_request_flag           0
shared_match_flag             0
access_a_ride_flag            0
wav_request_flag              0
wav_match_flag                0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19663930 entries, 0 to 19663929
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   originating_base_num  object
 3   request_datetime      datetime64[us]
 4   on_scene_datetime     datetime64[us]
 5   pickup_datetime       datetime64[us]
 6   dropoff_datetime      datetime64[us]
 7   PULocationID          int32
 8   DOLocationID          int32
 9   trip_miles            float64
 10  trip_time             int64
 11  base_passenger_fare   float64
 12  tolls                 float64
 13  bcf                   float64
 14  sales_tax             float64
 15  congestion_surcharge  float64
 16  airport_fee           float64
 17  tips                  float64
 18  driver_pay            float64
 19  shared_request_flag   object
 20  shared_match_flag     object
 21  access_a_ride_flag    object
 22  wav_request_flag      object
 23  wav_match_flag        object
dtypes: datetime64[us](4), float64(9), int32(2), int64(1), object(8)
memory usage: 3.4+ GB

In [26]:
df.describe()

,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
count,19663930,14445193,19663930,19663930,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07,1.966393e+07
mean,2024-01-16 22:16:37.965603,2024-01-17 02:22:41.626253,2024-01-16 22:20:45.530691,2024-01-16 22:39:15.999917,1.391361e+02,1.424193e+02,4.838587e+00,1.110470e+03,2.395925e+01,1.055207e+00,6.905130e-01,2.026125e+00,1.075129e+00,1.922252e-01,1.058256e+00,1.826909e+01
min,2023-12-31 23:01:55,2023-12-31 22:55:22,2024-01-01 00:00:00,2024-01-01 00:02:35,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-4.309000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-6.776000e+01
25%,2024-01-09 14:57:44,2024-01-09 18:12:25,2024-01-09 15:01:51,2024-01-09 15:22:16,7.500000e+01,7.600000e+01,1.493000e+00,5.710000e+02,1.163000e+01,0.000000e+00,3.200000e-01,9.800000e-01,0.000000e+00,0.000000e+00,0.000000e+00,8.210000e+00
50%,2024-01-17 08:05:05.500000,2024-01-17 13:01:53,2024-01-17 08:11:56,2024-01-17 08:31:05,1.400000e+02,1.420000e+02,2.830000e+00,9.120000e+02,1.800000e+01,0.000000e+00,5.000000e-01,1.530000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.357000e+01
75%,2024-01-24 13:28:24.750000,2024-01-24 16:23:39,2024-01-24 13:31:43.750000,2024-01-24 13:52:05.750000,2.110000e+02,2.170000e+02,5.990000e+00,1.430000e+03,2.880000e+01,0.000000e+00,8.100000e-01,2.480000e+00,2.750000e+00,0.000000e+00,0.000000e+00,2.283000e+01
max,2024-02-01 00:07:07,2024-01-31 23:59:58,2024-01-31 23:59:59,2024-02-01 02:10:41,2.650000e+02,2.650000e+02,4.176200e+02,5.206000e+04,1.911160e+03,1.410200e+02,5.394000e+01,1.526900e+02,8.250000e+00,6.900000e+00,1.968000e+02,1.218170e+03
std,NaN,NaN,NaN,NaN,7.490267e+01,7.777903e+01,5.698662e+00,7.722219e+02,2.053657e+01,3.798422e+00,6.311549e-01,1.676818e+00,1.344148e+00,6.691915e-01,3.127074e+00,1.546117e+01

In [27]:
df.describe(include='O')

,hvfhs_license_num,dispatching_base_num,originating_base_num,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
count,19663930,19663930,14445193,19663930,19663930,19663930,19663930,19663930
unique,2,2,6,2,2,2,2,2
top,HV0003,B03404,B03404,N,N,N,N,N
freq,14432755,14432755,14432697,18930120,19435982,19649886,19619397,17891533

In [28]:
df['hvfhs_license_num'].value_counts()

hvfhs_license_num
HV0003    14432755
HV0005     5231175
Name: count, dtype: int64

In [29]:
df.shape

(19663930, 24)

In [30]:
# hvfhs_license_num
# • HV0003: Uber
# • HV0005: Lyft
# 컬럼 추가
df['Taxi_Company'] = df['hvfhs_license_num'].map({
    'HV0003': 'Uber',
    'HV0005': 'Lyft'
})

In [ ]:
df['season'] = df['pickup_datetime']

In [ ]:
columns = ['dispatching_base_num', 'originating_base_num', 'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag', 'wav_request_flag', 'wav_match_flag']
df = df.drop(columns=columns)

# dropoff_datetime - pickup_datetime <= 0 삭제
df = df[df['dropoff_datetime'] - df['pickup_datetime'] > pd.Timedelta(0)]
# on_scene_datetime - request_datetime <= 0 삭제
df = df[df['on_scene_datetime'] - df['request_datetime'] > pd.Timedelta(0)]
# base_passenger_fare <=0 삭제
df = df[df['base_passenger_fare'] > 0]
# driver_pay < 0 삭제
df = df[df['driver_pay'] >= 0]

In [ ]:
# 어떤 종류의 택시가 제일 빨리 오는지
# 가격은 어떤지
# 날씨에 따른 가격 차이
# 날씨에 따른 택시 도착 시간
# 계절별 도착 시간
# 계절별 평균 가격
# 계절별 사용자 수
# 계절별 택시 종류
# 계절별 택시 종류별 평균 가격
# 계절별 택시 종류별 평균 도착 시간

In [42]:
df.head(5)

,hvfhs_license_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Taxi_Company,season
0,HV0003,2024-01-01 00:21:47,2024-01-01 00:25:06,2024-01-01 00:28:08,2024-01-01 01:05:39,161,158,2.83,2251,45.61,0.0,1.25,4.05,2.75,0.0,0.0,40.18,Uber,NaN
1,HV0003,2024-01-01 00:10:56,2024-01-01 00:11:08,2024-01-01 00:12:53,2024-01-01 00:20:05,137,79,1.57,432,10.05,0.0,0.28,0.89,2.75,0.0,0.0,6.12,Uber,NaN
2,HV0003,2024-01-01 00:20:04,2024-01-01 00:21:51,2024-01-01 00:23:05,2024-01-01 00:35:16,79,186,1.98,731,18.07,0.0,0.50,1.60,2.75,0.0,0.0,9.47,Uber,NaN
3,HV0003,2024-01-01 00:35:46,2024-01-01 00:39:59,2024-01-01 00:41:04,2024-01-01 00:56:34,234,148,1.99,930,17.17,0.0,0.47,1.52,2.75,0.0,0.0,11.35,Uber,NaN
4,HV0003,2024-01-01 00:48:19,2024-01-01 00:56:23,2024-01-01 00:57:21,2024-01-01 01:10:02,148,97,2.65,761,38.67,0.0,1.06,3.43,2.75,0.0,0.0,28.63,Uber,NaN

In [36]:
df.shape

(14309442, 19)